

.features{
    margin-top: 50px;
}

.features-header-main{
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 150%;
text-align: center;
color:#262626;
}

.features-p{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 150%;
text-align: center;
color:#333;
}

.feat-slide{
 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.features-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feat-icons{

border-radius: 6px;
padding: 12px;
background-color: #cbea7b;
}

.feat-icon{
    fill:  #262626;
}

.features-item{
    width: auto;
    border: 1px solid #e5f5bd;
    border-radius: 10px;
    padding: 30px;
    background-color: #f6fbe9;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.features-item:hover{
    background-color:#e5f5bd ;
    transform: scale(1.05);
}

.feature-head{
    display: flex;
    flex-direction: row;
  gap: 10px;
    align-items: center;
    justify-content: left;
}

.features-header{
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #262626;
text-align: center;
}

.features-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #333;
text-align: left;
}


@media (min-width:  1200px){

    .features{
        margin-top: 100px;
    }


.features-header-main{
font-size: 38px;
}

.features-p{
font-size: 16px;
}



  .features-list {
  flex-direction: row;
 
    flex-wrap:wrap; 
    gap: 20px;
    justify-content: center;
    
    
  }

  .features-item {
    width: calc((100% - 40px)/2);
    box-sizing: border-box;
  }

 


}






