.testemonials{
  width: 358px;
  margin-top: 55px;
  padding: 0 10px; 
  box-sizing: border-box; 
  margin-bottom: 50px;
}

.testi-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-content {
  background-color: #f6fbe9; 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 10px;
  text-align: center;
}


.testi-p{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 150%;
text-align: center;
  margin-top: 6px;
  margin-bottom: 50px;
}


.testi-title{
  font-family: var(--font-family);
  font-weight: 700;
font-size: 28px;
line-height: 150%;
text-align: center;
color: #262626;
}

.testi-up{
 
  margin: 0 auto ;
}



.testi-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
color: #333;
  padding: 0 10px;
}

.testi-down {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.testi-down img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Робимо зображення круглим */
  object-fit: cover;
}

.review-author {
  font-size: 14px;
  font-weight: bold;
  color: #333;
 text-align: center;
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 32px;
  border: 1px solid #eef8d3;
border-radius: 6px;
width: 48px;
height: 48px;
background: #f6fbe9;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
 display: flex;
 align-items: center;
 justify-content: center;
  margin-top: 10px;
}

.swiper-controls{
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
gap: 40px;
}



.swiper-button-prev::after,
.swiper-button-next::after {
  border: 1px solid #eef8d3;
border-radius: 6px;

width: 48px;
height: 48px;
background: #f6fbe9;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color:  #fafdf2; /* М'який зелений фон при ховері */
}

.swiper-button-prev:active,
.swiper-button-next:active {
  transform: translateY(-50%) scale(0.95); /* Легка анімація при кліку */
}
.swiper-button-disabled {
  opacity: 0.5; /* Напівпрозорість для неактивних кнопок */
  pointer-events: none; /* Вимкнення кліків */
}



@media (min-width: 768px)  {
  .testemonials {
    width: 750px; /* Розширюємо слайдер */
    
  }

  .swiper-content {

    width: auto;
    padding: 15px;
  }

  .testi-text {
    font-size: 14px; /* Трохи менший текст */
  }

  .testi-down img {
    width: 50px; /* Збільшуємо аватарки */
    height: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 35px;
    height: 35px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
   width: 50px;
   height: 50px;
  }
}

@media (min-width:  1200px){
  .testemonials{
width: 1180px;
  }
  .swiper-content{
   height: 270px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
}
